{% extends "base.html" %}
{% load static %}

{% block title %}{{ logfile.description }}{% endblock %}

{% block content %}
    <div class="scroll-buttons">
        <span class="btn btn-up"><i class="fas fa-arrow-up"></i></span><span class="btn btn-down"><i
            class="fas fa-arrow-down"></i></span>
    </div>
    <div id="logcontent">
        {% for line in logfile.content %}
            <div class="logline">{{ line }}</div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/jquery.mousewheel.min.js" %}"></script>
    <script src="{% static "js/log_read_script.js" %}"></script>
{% endblock %}